<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ScreenMapper">
	<select id="selectScreenList" parameterType="map" resultType="screen">
		select cinemaname, (select screencode from screen_movie where mcode = #{mcode} and <![CDATA[startdate <= #{sdate}]]> and enddate >= #{sdate}) as screencode
		from cinema c,
		(select cinemacode from screen s, 
		(select screencode from screen_movie
		where mcode = #{mcode} and <![CDATA[startdate <= #{sdate}]]> and enddate >= #{sdate})
		sm where s.screencode = sm.screencode) ss where c.cinemacode = ss.cinemacode
	</select>
	
	<select id="adminselectScreenList" parameterType="map" resultType="screen">
		select * from(select ceil(rownum / 5) as pageNo, s.* from screen s where cinemacode = #{cinemacode} order by screencode asc) where pageNo = #{pageNo}
	</select>
	
	<select id="selectAllSeat" parameterType="String" resultType="int">
		select count(*) from seat where screencode = #{screencode}
	</select>
	
	<select id="selectCinemaInfo" parameterType="String" resultType="screen">
		select * from cinema where cinemacode = #{cinemacode}
	</select>
	
	<update id="updateCinema" parameterType="screen">
		update cinema set cinemaname = #{cinemaName} where cinemacode = #{cinemaCode}
	</update>
	
	<insert id="insertCinema" parameterType="screen">
		insert into cinema values(#{cinemaCode}, #{cinemaName})
	</insert>
	
	<delete id="deleteCinema" parameterType="String">
		delete from cinema where cinemacode = #{cinemaCode}
	</delete>
	
	<select id="selectAllCount" parameterType="String" resultType="int">
		select count(*) from screen where cinemacode = #{cinemacode}
	</select>
	
	<insert id="insertScreen" parameterType="screen">
		insert into screen values(#{screenCode}, #{cinemaCode}, #{screenName})
	</insert>
	
	<delete id="deleteScreen" parameterType="String">
		delete from screen where screencode = #{screencode}
	</delete>
	
	<select id="selectTypeList" resultType="screen">
		select * from seattype
	</select>
	
	<select id="selectSeatCode" parameterType="String" resultType="String">
		select seatcode from seattype where seattype = #{seatType}
	</select>
	
	<insert id="insertScreenSeat" parameterType="map">
		insert into seat values(SEAT_PK_SEQ.nextval, #{screenCode}, #{seatType}, #{seatNo})
	</insert>
	
	<select id="selectScreenSchedule" parameterType="String" resultType="screen">
		select 
		(select title from moviedb md where md.mcode = t.mcode) as title,
		(select runtime from moviedb md where md.mcode = t.mcode) as runtime,
		t.* from time t where screencode = #{screencode}
	</select>
	
	<select id="selectScreenMovie" parameterType="String" resultType="screen">
		select 
      (select runtime from moviedb md where md.mcode = sm.mcode) as runtime,
      (select title from moviedb md where md.mcode = sm.mcode) as title, 
      sm.* from screen_movie sm where <![CDATA[startdate < sysdate]]> and enddate > sysdate
	</select>
	
	<update id="updateSchedule" parameterType="screen">
		update time set moviedate = #{movieDate}, starttime = #{startTime}, endtime = #{endTime} where timecode = #{timeCode}
	</update>
	
	<insert id="insertScreenSchedule" parameterType="screen">
		insert into time values(TIME_PK_SEQ.nextval, #{startTime}, #{endTime}, #{movieDate}, 1, #{screenCode}, #{mcode})
	</insert>
	
	<select id="selectAllSeatType" resultType="screen">
		select * from seattype
	</select>
	
	<insert id="insertSeatType" parameterType="map">
		insert into seattype values(#{seatType}, #{seatTag})
	</insert>
	
	<delete id="deleteSeatType" parameterType="String">
		delete from seattype where seattype = #{seatType}
	</delete>
</mapper>