<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ScreenMapper">
	<select id="selectScreenList" parameterType="map" resultType="screen">
		select DISTINCT  c.* from cinema c,(select s.* from screen s,(select time.* from time where MCODE = #{mcode}) sccode where s.screencode = sccode.SCREENCODE) ccode where c.CINEMACODE = ccode.CINEMACODE
	</select>
	
	<select id="adminselectScreenList" parameterType="map" resultType="screen">
		select @rownum:=@rownum+1 as no,s.* from screen s  where cinemacode = #{cinemacode} limit 6
	</select>
	
	<select id="selectAllSeat" parameterType="String" resultType="int">
		select count(*) from seat where screencode = #{screencode}
	</select>
	
	<select id="selectCinemaInfo" parameterType="String" resultType="screen">
		select * from cinema where cinemacode = #{cinemacode}
	</select>
	
	<update id="updateCinema" parameterType="screen">
		update cinema set cinemaname = #{cinemaName} where cinemacode = #{cinemaCode}
	</update>
	
	<insert id="insertCinema" parameterType="screen">
		insert into cinema values(#{cinemaCode}, #{cinemaName})
	</insert>
	
	<delete id="deleteCinema" parameterType="String">
		delete from cinema where cinemacode = #{cinemaCode}
	</delete>
	
	<select id="selectAllCount" parameterType="String" resultType="int">
		select count(*) from screen where cinemacode = #{cinemacode}
	</select>
	
	<insert id="insertScreen" parameterType="screen">
		insert into screen values(#{screenCode}, #{cinemaCode}, #{screenName})
	</insert>
	
	<delete id="deleteScreen" parameterType="String">
		delete from screen where screencode = #{screencode}
	</delete>
	
	<select id="selectTypeList" resultType="screen">
		select * from seattype
	</select>
	
	<select id="selectSeatCode" parameterType="String" resultType="String">
		select SEATTAG from seattype where seattype = #{seatType}
	</select>
	
	<insert id="insertScreenSeat" parameterType="map">
		insert into seat values((SELECT SeatCode_nextval('SeatCode') FROM DUAL), #{screenCode}, #{seatType}, #{seatNo})
	</insert>
	
	<select id="selectScreenSchedule" parameterType="String" resultType="screen">
		select 
		(select title from moviedb md where md.mcode = t.mcode) as title,
		(select runtime from moviedb md where md.mcode = t.mcode) as runtime,
		t.* from time t where screencode = #{screencode}
	</select>
	
	
	
	<update id="updateSchedule" parameterType="screen">
		update time set moviedate = #{movieDate}, starttime = #{startTime}, endtime = #{endTime} where timecode = #{timeCode}
	</update>
	
	<insert id="insertScreenSchedule" parameterType="screen">
		insert into time values((select TIME_nextval('select_TIMEcode') from dual), #{startTime}, #{endTime}, #{movieDate}, 1, #{screenCode}, #{mcode})
	</insert>
	
	<select id="selectAllSeatType" resultType="screen">
		select * from seattype
	</select>
	
	<insert id="insertSeatType" parameterType="map">
		insert into seattype values(#{seatType}, #{seatTag})
	</insert>
	
	<delete id="deleteSeatType" parameterType="String">
		delete from seattype where seattype = #{seatType}
	</delete>
	
	
	<select id="selectMovieSchedule" resultType="screen">
		SELECT ms.*,md.RUNTIME FROM MOVIE_SCHEDULE ms,moviedb md where ENDDATE > sysdate() and ms.MCODE = md.MCODE
	</select>
	
</mapper>